<div class="page-header">
	<h3 class="page-title"> @ViewBag.v1 </h3>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">@ViewBag.v3</li>
		</ol>
	</nav>
</div>
	

