<footer class="footer">
	<div class="d-sm-flex justify-content-center justify-content-sm-between">
		<span class="text-muted text-center text-sm-center d-block d-sm-block"><a href="https://www.saryaengin.com/" target="_blank">Sarya Engin © 2023. | Tüm hakları saklıdır.</a></span>
	</div>
</footer>